
    .header{
        background:darkblue;
        color:cornsilk;
        text-align: center;
        padding: 25px;
        border: 10px;
    }

    .menu{
        display:flex;
        justify-content: center;
        list-style: none;
        background:orange;

    }
    .menu li{
        margin:15px;

    }

    .menu a{
        color:aliceblue;
        text-decoration: none;
        font-weight: bold;

    }
    .menu a:hover{
        color:crimson;
    }
    nav ul li a{
    font-size: 18px;

    }


    .hero{

        display: flex;
        align-items: center;
        gap: 20px;
        padding: 30px;
    }
    .hero img{
        width: 40%;
    }
    .hero div{
        flex: 1
    }
    .st{
        color: orange;
    }
    .grid_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
        gap: 20px;
    }
    .title h2{
        text-align: center;
    }
    .card{
        background: white;
        padding: 20px;
        border: black 1px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px;
        text-align: center;
    }
    .title{
        text-align: center;
        color:blue;
        margin: 20px;
    }

    .card:hover{
        transform: scaleY(1.05);
        box-shadow: 5px 5px 10px;
        color: darkblue;
        transition: 0.5s;

    }
    .footer{
        background-color: rgb(255, 165, 9);
        color: rgb(51, 0, 255);
        text-align: center;
    }
@media(max-width: 480px
){
        .header{
        background:darkblue;
        color:cornsilk;
        text-align: center;
        padding: 25px;
        border: 10px;
    }

    .menu{
        display:flex;
        justify-content: center;
        list-style: none;
        background:orange;

    }
    .menu li{
        margin:15px;

    }

    .menu a{
        color:aliceblue;
        text-decoration: none;
        font-weight: bold;

    }
    .menu a:hover{
        color:crimson;
    }
    nav ul li a{
    font-size: 18px;

    }


    .hero{

        display: flex;
        align-items: center;
        gap: 20px;
        padding: 30px;
    }
    .hero img{
        width: 40%;
    }
    .hero div{
        flex: 1
    }
    .st{
        color: orange;
    }
    .grid_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
        gap: 20px;
    }
    .title h2{
        text-align: center;
    }
    .card{
        background: white;
        padding: 20px;
        border: black 1px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px;
        text-align: center;
    }
    .title{
        text-align: center;
        color:blue;
        margin: 20px;
    }

    .card:hover{
        transform: scaleY(1.05);
        box-shadow: 5px 5px 10px;
        color: darkblue;
        transition: 0.5s;

    }
    .footer{
        background-color: rgb(255, 165, 9);
        color: rgb(51, 0, 255);
        text-align: center;
    }
}