body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
 
}

.container{
    width: 700px;
    background-color: darkslategrey;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 15px 10px 15px;
    color: white;
}

input{
    width:95%;
    padding:10px;
    margin-top:10px;
    margin-bottom:15px;
}

button{
    padding: 20px 20px;
    margin: 5px;
    cursor: pointer;
}

#output{
    margin-top: 20px;
    padding:15px;
    background:lightslategray   ;
    border-radius:5px;
}