/* General */
body {
    
    background-color: black;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/* Header */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
/* Navigation */
nav {
    background-color: tan;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bold;
}

/* Sections */
section {
    background-color: rgb(205, 202, 202);
    margin-top: 25px;
    padding: 15px;
    border: 5px solid black;
}

/* Aside */
aside {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-align: center;
    color: lightgreen;
    background-color: rgba(139, 0, 0, 0.527);
    margin-top: 15px;
    padding: 10px;
    border: 4px dotted darkred;
}

/* Table */
table {
    
    background-color: tan;
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid black;
}

th, td {
    padding: 5px;
    text-align: center;

}

/* Form */

input, textarea {
    width: 50%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100px;
    background-color: tan;
    color: white;
    border: 2px inset black;
    padding: 8px;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: tan;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}